.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  animation-duration: 1000ms;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 2px;
  margin: 497px auto 0;
  padding: 3px 60px 4px 59px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.125rem;
  animation-duration: 1000ms;
  letter-spacing: 7px;
  line-height: 1.6;
  margin: 341px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .embed-responsive-1 {
    width: 100%;
    left: 0%;
    height: 1671%;
    top: -786%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .embed-responsive-1 {
    height: 1280%;
    top: -590%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-bottom: 0;
  }

  .u-section-1 .embed-responsive-1 {
    width: 292%;
    left: -96%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .embed-responsive-1 {
    width: 424%;
    left: -162%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100px;
}.u-section-3 .u-sheet-1 {
  min-height: 750px;
}

.u-section-3 .u-group-1 {
  width: 750px;
  min-height: 457px;
  animation-duration: 1000ms;
  margin: 279px 0 14px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-align: justify;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 0 0 0 374px;
}

.u-section-3 .u-text-2 {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: normal;
  animation-duration: 1000ms;
  margin: 14px 0 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 204px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 4px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 100px;
  order: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-4 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-video-1 {
    min-height: 353px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100px;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 808px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  order: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-6 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-video-1 {
    min-height: 312px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    font-weight: 700;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-6 .u-video-1 {
    order: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 758px;
}

.u-section-7 .u-group-1 {
  width: 650px;
  min-height: 426px;
  animation-duration: 1000ms;
  margin: 332px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-align: justify;
  text-transform: uppercase;
  margin: 1px 275px 0 0;
}

.u-section-7 .u-text-2 {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 30px 0 0;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 697px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 5px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 100px;
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 100px;
  order: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-9 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-9 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-video-1 {
    min-height: 363px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    font-weight: 700;
  }

  .u-section-9 .u-text-2 {
    width: auto;
  }

  .u-section-9 .u-video-1 {
    min-height: 257px;
    order: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 750px;
}

.u-section-10 .u-group-1 {
  width: 750px;
  min-height: 457px;
  animation-duration: 1000ms;
  margin: 255px 17px 38px auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-align: justify;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 83px 0 0;
}

.u-section-10 .u-text-2 {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: normal;
  animation-duration: 1000ms;
  margin: 27px 0 0;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-10 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-group-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-10 .u-group-1 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 100px;
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 100px;
  order: 1;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-12 .u-text-1 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-12 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-12 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-12 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-12 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-video-1 {
    min-height: 364px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-12 .u-text-1 {
    font-weight: 700;
    margin-top: 1px;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-top: 54px;
  }

  .u-section-12 .u-video-1 {
    min-height: 257px;
    order: 0;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 750px;
}

.u-section-13 .u-group-1 {
  min-height: 471px;
  animation-duration: 1000ms;
  width: 1044px;
  margin: 250px auto 29px 14px;
}

.u-section-13 .u-container-layout-1 {
  padding: 0 21px 30px;
}

.u-section-13 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-align: justify;
  animation-duration: 1000ms;
  text-transform: uppercase;
  margin: 1px 14px 0 9px;
}

.u-section-13 .u-text-2 {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 9px 164px 0 9px;
}

.u-section-13 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-13 .u-group-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-13 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    margin-right: 69px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-group-1 {
    width: 720px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-group-1 {
    width: 540px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-group-1 {
    width: 340px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 100px;
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 100px;
  order: 1;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-15 .u-text-1 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-15 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-15 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-15 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-15 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-text-2 {
    width: auto;
  }

  .u-section-15 .u-video-1 {
    min-height: 373px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-15 {
    min-height: 100px;
  }

  .u-section-15 .u-text-1 {
    font-weight: 700;
  }

  .u-section-15 .u-video-1 {
    min-height: 257px;
    order: 0;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 750px;
}

.u-section-16 .u-group-1 {
  width: 750px;
  min-height: 457px;
  animation-duration: 1000ms;
  margin: 276px 0 17px auto;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px;
}

.u-section-16 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-align: justify;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 84px 0 0;
}

.u-section-16 .u-text-2 {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: normal;
  animation-duration: 1000ms;
  margin: 26px 0 0;
}

.u-section-16 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-16 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-group-1 {
    width: 540px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-group-1 {
    width: 340px;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 100px;
} .u-section-18 {
  background-image: none;
}

.u-section-18 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-18 .u-layout-cell-1 {
  min-height: 100px;
  order: 1;
}

.u-section-18 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-18 .u-text-1 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-18 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-18 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-18 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-18 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-18 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-18 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-18 .u-video-1 {
    min-height: 360px;
  }

  .u-section-18 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-18 {
    min-height: 100px;
  }

  .u-section-18 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-18 .u-text-1 {
    font-weight: 700;
  }

  .u-section-18 .u-text-2 {
    width: auto;
  }

  .u-section-18 .u-video-1 {
    min-height: 257px;
    order: 0;
  }
}.u-section-19 .u-sheet-1 {
  min-height: 750px;
}

.u-section-19 .u-group-1 {
  width: 980px;
  min-height: 529px;
  animation-duration: 1000ms;
  margin: 175px auto 46px 20px;
}

.u-section-19 .u-container-layout-1 {
  padding: 1px 30px;
}

.u-section-19 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-align: justify;
  text-transform: uppercase;
  margin: 0;
}

.u-section-19 .u-text-2 {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 20px 54px 0 0;
}

.u-section-19 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-19 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-19 .u-group-1 {
    width: 940px;
    margin-top: 292px;
    margin-left: 0;
  }

  .u-section-19 .u-text-2 {
    margin-right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-19 .u-group-1 {
    width: 720px;
  }

  .u-section-19 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-19 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-19 .u-group-1 {
    width: 540px;
  }

  .u-section-19 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-19 .u-group-1 {
    width: 340px;
    margin-top: 184px;
  }

  .u-section-19 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-20 .u-sheet-1 {
  min-height: 100px;
} .u-section-21 {
  background-image: none;
}

.u-section-21 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-21 .u-gallery-1 {
  height: 1069px;
  grid-gap: 17px 17px;
  grid-template-columns: auto auto auto;
  width: 1140px;
  margin: 60px auto 0;
}

.u-section-21 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 24px 24px;
}

.u-section-21 .u-gallery-item-1 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-21 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-21 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-21 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-21 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-21 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-21 .u-back-slide-3 {
  transition-duration: 0.5s;
}

.u-section-21 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-21 .u-back-slide-4 {
  transition-duration: 0.5s;
}

.u-section-21 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-21 .u-back-slide-5 {
  transition-duration: 0.5s;
}

.u-section-21 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-21 .u-back-slide-6 {
  transition-duration: 0.5s;
}

.u-section-21 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-21 .u-back-slide-7 {
  transition-duration: 0.5s;
}

.u-section-21 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-21 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-21 .u-gallery-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-21 .u-back-slide-8 {
  transition-duration: 0.5s;
}

.u-section-21 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-gallery-item-9 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-21 .u-back-slide-9 {
  transition-duration: 0.5s;
}

.u-section-21 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-21 .u-gallery-item-10 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-21 .u-back-slide-10 {
  transition-duration: 0.5s;
}

.u-section-21 .u-back-image-10 {
  object-position: 50% 50%;
}

.u-section-21 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-21 .u-gallery-item-11 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-21 .u-back-slide-11 {
  transition-duration: 0.5s;
}

.u-section-21 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-21 .u-gallery-item-12 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-21 .u-back-slide-12 {
  transition-duration: 0.5s;
}

.u-section-21 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-21 .u-sheet-1 {
    min-height: 1174px;
  }

  .u-section-21 .u-gallery-1 {
    height: 881px;
    width: 940px;
  }

  .u-section-21 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-21 .u-sheet-1 {
    min-height: 1744px;
  }

  .u-section-21 .u-gallery-1 {
    height: 1518px;
    width: 720px;
  }

  .u-section-21 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-sheet-1 {
    min-height: 4725px;
  }

  .u-section-21 .u-gallery-1 {
    height: 4554px;
    width: 540px;
  }

  .u-section-21 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-sheet-1 {
    min-height: 2977px;
  }

  .u-section-21 .u-gallery-1 {
    height: 2867px;
    width: 340px;
  }
} .u-section-22 {
  background-image: none;
}

.u-section-22 .u-sheet-1 {
  min-height: 397px;
}

.u-section-22 .u-image-1 {
  width: 260px;
  height: 270px;
  margin: 76px auto 0 63px;
}

.u-section-22 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 4.5rem;
  margin: -235px 37px 0 auto;
}

.u-section-22 .u-social-icons-1 {
  white-space: nowrap;
  height: 51px;
  min-height: 16px;
  width: 330px;
  min-width: 190px;
  margin: 17px 43px 60px auto;
}

.u-section-22 .u-icon-1 {
  height: 100%;
}

.u-section-22 .u-icon-2 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-22 .u-icon-3 {
  height: 100%;
}

.u-section-22 .u-icon-4 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-22 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-22 .u-image-1 {
    margin-top: 121px;
  }

  .u-section-22 .u-text-1 {
    margin-top: -305px;
  }

  .u-section-22 .u-social-icons-1 {
    margin-top: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-22 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-22 .u-image-1 {
    margin-left: auto;
  }

  .u-section-22 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-22 .u-social-icons-1 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-22 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-22 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-22 .u-social-icons-1 {
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-22 .u-image-1 {
    width: 195px;
    height: 220px;
    margin-top: 20px;
  }

  .u-section-22 .u-text-1 {
    margin-top: 70px;
    margin-left: 32px;
  }

  .u-section-22 .u-social-icons-1 {
    margin-top: 93px;
    margin-bottom: 60px;
  }
}